body {
    background-image: url("img/stars.gif");
}

/* Track */
#track {
    background-image: url("img/ground.jpg");
    width: 100%;
    height: 35%;
    position: absolute;
    top: 50%;
}

/* Stoplight */
#stoplight {
    width: 6%;
    position: absolute;
    top: 15%;
    left: 47%;

}
#stoplight img {
    width: 100%;
    height: auto;
}

/* Contestants */
.contestant {
    width: auto;
    position: absolute;;
    left: 3%;
}
